@using Microsoft.AspNetCore.Identity
@model EWork.ViewModels.ProfileViewModel
@inject UserManager<User> UserManager
@{
    var profileOwner = Model.ProfileOwner;
    ViewData["Title"] = "Profile";
    ViewBag.Heading = $"{profileOwner.UserName}'s Profile";
    var reviewMessage = string.Empty;
    var hasReviewBeenSent = false;
    Review sentReview = null;
    if (Model.IsCanAddReview)
    {
        sentReview = Model.ProfileOwner.Reviews.FirstOrDefault(r => r.Sender.Id == Model.CurrentUser.Id);
        hasReviewBeenSent = !(sentReview is null);
        reviewMessage = (hasReviewBeenSent ? "Update" : "Send") + " Review";
    }
    Model.Review = sentReview;
}

@section Styles
    {
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/profileInfo.css" />
    <link rel="stylesheet" href="/css/space.min.css" />
    <link rel="stylesheet" href="/css/button.css" />

}

<div class="container-fluid" id="profileInfoContainer">

    <div class="row">
        <h2 class="col-xs-12 col-md-offset-2 col-md-8 page-title">@ViewBag.Heading</h2>
    </div>
    <div class="space-30"></div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="row ">
                <div class="col-xs-12 text-center">
                    <img class="profile-photo" src="@System.IO.Path.Combine(Model.PathToProfilePhotos, profileOwner.ProfilePhotoName)" alt="Profile photo" />
                </div>
                <div class="space-10"></div>
                <div class="justify-content-container">
                    @if (UserManager.GetUserName(User) != profileOwner.UserName)
                    {
                        <a asp-controller="Chat" asp-action="Index" asp-route-receiverUsername="@profileOwner.UserName" title="Send Message" class="justify-content-container" style="width: 100%; text-decoration: none;">
                            <button class="button blue" id="sendMessageBtn">Send Message</button>
                        </a>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="justify-content-container" style="width: 100%; text-decoration: none;">
                            <button class="button blue" id="editProfileButton">Edit Profile</button>
                        </a>
                    }
                </div>
                @if (Model.IsCanAddReview)
                {
                    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reviewLabel">@reviewMessage</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @if (hasReviewBeenSent)
                                    {
                                        <form asp-controller="Profile" asp-action="UpdateReview">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Review.Text"></label>
                                                <textarea asp-for="Review.Text" name="review.text" class="form-control" style="resize: none;"></textarea>
                                            </div>
                                            <div class="space-10"></div>
                                            <div class="form-group">
                                                <label asp-for="Review.Value"></label>
                                                <input asp-for="Review.Value" id="review-rate" type="number" name="review.value" required="required" step="0.1" min="0.1" max="10" />
                                            </div>
                                            <input type="hidden" name="review.id" value="@sentReview.Id" />
                                            <input type="hidden" name="nameOfReviewedUser" value="@Model.ProfileOwner.UserName" />
                                            <input id="submitReview" type="submit" style="display: none;" />
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="Profile" asp-action="AddReview">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Review.Text"></label>
                                                <textarea asp-for="Review.Text" name="review.text" class="form-control" style="resize: none;"></textarea>
                                            </div>
                                            <div class="space-10"></div>
                                            <div class="form-group">
                                                <label asp-for="Review.Value"></label>
                                                <input asp-for="Review.Value" id="review-rate" type="number" name="review.value" required="required" step="0.1" min="0.1" max="10" />
                                            </div>
                                            <input type="hidden" name="nameOfReviewedUser" value="@Model.ProfileOwner.UserName" />
                                            <input id="submitReview" type="submit" style="display: none;" />
                                        </form>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="document.getElementById('submitReview').click()">@reviewMessage</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space-10"></div>

                    <div class="justify-content-container">
                        <button class="button blue" id="addReviewButton" data-toggle="modal" data-target="#reviewModal">@reviewMessage</button>
                    </div>
                }
                <h4 class="text-center">
                    <a asp-controller="Profile" asp-action="Profile" asp-route-username="@profileOwner.UserName">
                        @@@profileOwner.UserName
                    </a>
                </h4>
                <h4 class="text-center">@profileOwner.FullName</h4>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <h2 class="user-fullname">@profileOwner.FullName</h2>
                <p class="user-role cyan-color text-capitalize">@profileOwner.Role</p>
                <h3 class="">Overview</h3>
                <div class="user-description">
                    @profileOwner.Description
                </div>
                <div class="space-20"></div>
                @{
                    var userRating = 0d;
                    try
                    {
                        userRating = profileOwner.Reviews.Average(r => r.Value);
                    }
                    catch (InvalidOperationException)
                    {
                    }
                }
                <div class="user-rating"><span class="text-capitalize">@profileOwner.Role's </span>rating: <span class="rating-value">@userRating</span></div>
            </div>
        </div>
    </div>
    <hr />
    <div class="space-5"></div>
    <div class="row">
        <h1 class="col-xs-12 col-md-offset-2 col-md-8 page-subtitle">Reviews</h1>
    </div>
    <div id="refferences-container">
        @{var isFirstReference = true;}
        @foreach (var review in profileOwner.Reviews)
        {
            if (!isFirstReference)
            {
                <hr />
            }
            else
            {
                isFirstReference = false;
            }
            <div class="reference">
                <div class="row margin-bottom-25" style="">
                    <div class="col-xs-12 col-md-4 profile-info padding-20">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <img class="profile-photo profile-photo-rounded" src="@System.IO.Path.Combine(Model.PathToProfilePhotos, review.Sender.ProfilePhotoName)" alt="Profile photo" />
                            </div>
                        </div>
                        <div class="space-10"></div>
                        <h4 class="text-center">
                            <a asp-controller="Profile" asp-action="Profile" asp-route-username="@review.Sender.UserName">
                                @@@review.Sender.UserName
                            </a>
                        </h4>
                        <h4 class="text-center">@review.Sender.FullName</h4>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="row">
                            <h3 class="proposal-cover-letter">Feedback:</h3>
                            <div class="user-rating">Rate: <span class="rating-value">@review.Value</span></div>
                            <div class="space-20"></div>
                            <div class="user-description">
                                @review.Text
                            </div>
                            <div class="space-20"></div>
                            <h5 class="posted-date">
                                Posted <span>@review.SendDate</span>
                            </h5>
                            @{
                                var freelancerRating = 0d;
                                try
                                {
                                    freelancerRating = review.Sender.Reviews.Average(r => r.Value);
                                }
                                catch (InvalidOperationException)
                                {
                                }
                            }
                            <div class="user-rating"><span class="text-capitalize">@review.Sender.Role's</span> rating: <span class="rating-value">@freelancerRating</span></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
