@model EWork.ViewModels.JobBoardViewModel

@{
    if (ViewData["Title"] is null)
    {
        ViewData["Title"] = "Job Board";
    }

    if (ViewBag.Heading is null)
    {
        ViewBag.Heading = "Job Board";
    }
}

@section Styles {
    <link href="/css/jobboard.css" rel="stylesheet" type="text/css" />
    <link href="/css/space.min.css" rel="stylesheet" type="text/css" />
}

<div class="container-fluid">
    <div class="row">
        <h2 class="col-xs-12 col-md-offset-2 col-md-8 page-title">@ViewBag.Heading</h2>
        <form method="get" class="col-xs-12 col-md-offset-2 col-md-8" asp-controller="Job" asp-action="JobBoard" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Searching by tags" name="RequiredTags" id="SearchingByTags" value="@string.Join(" ", Model.UsedTags)">
                <div class="input-group-btn">
                    <button class="btn btn-default" id="searchingSubmit" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="col-xs-12 col-md-offset-2 col-md-8" id="jobs-container">
            @foreach (var job in Model.Jobs)
            {
                <div class="job-container">
                    <h4 class="job-title">
                        <a asp-controller="Job" asp-action="JobInfo" asp-route-jobid="@job.Id">@job.Title</a>
                    </h4>
                    <h5 class="posted-date">
                        Posted <span>08/19/2018 6:04 PM</span>
                    </h5>
                    <div class="space-10"></div>
                    <div class="job-budget">
                        @job.Budget$ <br />
                    </div>
                    <p class="fixed-price">Fixed price</p>
                    <div class="job-description">
                        @job.Description
                    </div>
                    <div class="space-30"></div>
                    <div class="job-tags">
                        @foreach (var tag in job.JobTags.Select(jt => jt.Tag))
                        {
                            <div class="job-tag">@tag.Text</div>
                        }
                    </div>
                    <div class="space-20"></div>
                    @{
                        var employerRating = 0d;
                        try
                        {
                            employerRating = job.Employer.Reviews.Average(r => r.Value);
                        }
                        catch (InvalidOperationException)
                        {
                        }
                    }
                    <div class="user-rating">Employer rating: <span>@employerRating</span></div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="/js/searchingByClickingOnTags.js"></script>
}

@* Job template *@
@* <div class="job-container">
        <h4 class="job-title">
            <a href="">Test job title</a>
        </h4>
        <h5 class="posted-date">
            Posted <span>08/19/2018 6:04 PM</span>
        </h5>
        <div class="space-10"></div>
        <div class="job-budget">
            125$ <br />
        </div>
        <p class="fixed-price">Fixed price</p>
        <div class="job-description">
            Looking for a flexible, Independant, can-do attitude web developer. Must know: - Preact (react alternative, alias) - Redux - SASS - Zeplin - Webpack 3 You will be working along side me and 2 other remote devs, mainly working with a backend engineer for help with the api.
        </div>
        <div class="space-30"></div>
        <div class="job-tags">
            <div class="job-tag">
                123123
            </div>
            <div class="job-tag">
                45345
            </div>
            <div class="job-tag">
                123112412323
            </div>
        </div>
        <div class="space-20"></div>
        <div class="user-rating">Employer rating: <span>9.5</span></div>
    </div> *@