@model EWork.ViewModels.NotificationViewModel

@{
    ViewData["Title"] = "Notifications";
}

@section Styles {
    <link href="/css/jobboard.css" rel="stylesheet" type="text/css" />
    <link href="/css/space.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/button.css" rel="stylesheet" type="text/css" />
}

<h2 class="page-title">Your Notifications</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Source link
            </th>
            <th>
                Send date
            </th>
            <th>
                <a id="delete-all-notifications" style="cursor: pointer;">Delete all</a>
            </th>
        </tr>
    </thead>
    <tbody id="notificationsTable">
        @foreach (var item in Model.Notifications)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a href="@item.Source">link</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a class="delete-notification" data-notificationid="@item.Id" style="cursor: pointer;">Delete</a>
                </td>
            </tr>
        }
        <div id="antiForgeryToken">
            @Html.AntiForgeryToken()
        </div>
    </tbody>
</table>
<div class="container-fluid">
    <div class="row">
        <div class="justify-content-container">
            <button class="button blue" id="download-more-notifications">Load more</button>
            <input type="hidden" name="notificationReceiver" value="@Model.CurrentUser.UserName"/>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/deleteNotification.js"></script>
    <script src="/js/notification/notificationAjax.js"></script>
}